.products-display {
    margin-top: 20px;
  .sortList {
    width: 20%;

    button {
      display: block;
      margin-top: 20px;
    }
  }

  .productList {
    width: 85%;
    h3 {
        text-align: center;
    }
  }


}