.contact-container {
  display: flex;

  .message-form {
    margin-right: 50px;
    min-width: 350px;
  }

.map-container {
    height: 300px;
    min-width: 500px;
  }

  @media (max-width: 991.98px) {
    .map-container {
      min-width: 320px;
    }

    .message-form {
      min-width: 280px;
    }
  }

  @media (max-width: 768px) {
    .map-container {
      min-width: 250px;
    }

    .message-form {
      min-width: 220px;
    }
  }
}

@media (max-width: 640px) {
  .contact-container {
    flex-wrap: wrap;

    .map-container {
      min-width: 450px;
    }
  }
}

