.contact-container {
  display: flex;
  flex-wrap: wrap;

  .message-form {
    margin-right: 50px;
  }

// .contactData {
//     width: 55%;
//   }

.map-container {
    height: 300px;
    min-width: 500px;
  }
}