.logo-img {
  width: 100px;
  height: auto;
}

.navLinks, .bottomNavbar {
    margin-top: 30px;
  a {
    margin: 15px;
    color: grey;
  }
  a:visited {
    color: grey;
  }
  a.active {
    color: black;
  }
}
